<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.11.10" targetFramework="net472" />
  <package id="MessagePack" version="2.3.85" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.3.85" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Build" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Framework" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Core" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Utilities.Core" version="17.0.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.AnalyzerUtilities" version="3.3.3" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.EditorFeatures.Text" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Features" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.DiaSymReader" version="1.3.0" targetFramework="NET472" />
  <package id="Microsoft.NET.StringTools" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Composition" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.Analyzers" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Composition.NetFxAttributes" version="16.9.20" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Editor" version="15.8.525" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.LanguageServices" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.ProjectSystem" version="16.0.374-pre" targetFramework="NET472" />
  <package id="Microsoft.VisualStudio.SDK.VsixSuppression" version="14.1.37" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="3.0.4492" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Text.Data" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="17.0.487" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.8.525" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="15.8.525" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="17.0.64" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.0.64" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities" version="16.0.28729" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.34" targetFramework="net472" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Nerdbank.Streams" version="2.8.50" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net46" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="2.0.7" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.7" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.7" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.14" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.7" targetFramework="net472" />
  <package id="StreamJsonRpc" version="2.9.85" targetFramework="net472" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="6.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="6.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Console" version="4.3.1" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IO" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Pipelines" version="6.0.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="6.0.0" targetFramework="net472" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="6.0.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Threading" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Dataflow" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net46" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net472" />
</packages>